<%= render "layouts/header" %>
  <div class="jumbotron">
    <center><p><h3>You may say:</h3></p></center>
    <center><h1><%= @markov_string %></h1></center>
    
    <div><center><h4>Tweet this! <a class="twitter-share-button" href="https://twitter.com/share" data-text="<%= @markov_string %>" data-count="none" data-size="large" >Tweet
    </a></h4></center></div>
    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
  </div>
</div>
</body>