<body>
<div class="container">
  <div class="jumbotron">
    <p><center><h1>markytwit</h1></center></p>

  <center><div class="lead"><%= form_tag("/submit") do %>
  <%= label_tag(:u, "Enter a Twitter username:") %>
  @<%= text_field_tag(:u) %>
  <%= submit_tag("Go") %>
<% end %></div></center>
  </div>
</div>
</body>