<body>
<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">Your Tweet</a></li>
        <li role="presentation"><a href="/about">What is this?</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Markytwit</h3>
  </div>